
/* Estilo para o fundo escuro do modal */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none; /* Por padrão, será escondido */
}

/* Estilo para o modal */
.modal-content {
    position: relative;
    margin: auto;
    /* background-color: #FFF; */
    /* border-radius: 20px; */
    padding: 0px;
    z-index: 1001;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    height: 90vh;
    width: 90vh;
    overflow: hidden;
}

/* Estilo para o iframe */
.modal-iframe {
    border: none; /* Remove as bordas */
    /* border-radius: 20px; */
    width: 100%;
    height: 100%;
    /* min-width: 320px;
    min-height: 400px; */
}